<div id="cp-main-content">

<section class="cp-faq-section pd-tb80">
<div class="container">
<div class="row">
<h1>New Faq</h1>

<%= render 'form', faq: @faq %>

<%= link_to 'Back', faqs_path %>
</div>
</div>
</section>
</div>
