<div id="cp-main-content">

<section class="cp-faq-section pd-tb80">
<div class="container">
<div class="row">
<p id="notice"><%= notice %></p>

 <div class="table100 ver3 m-b-110">
<table class="custom" data-vertable="ver3"  style="width:100%">
  <thead>
    <tr class="row100 head">
    <th class="column100 column1" data-column="column1">Questions and Answers</th>
    
    </tr>
  </thead>

  <tbody>
    <% @faqs.each do |faq| %>
      <tr class="row100">
       <td class="column100 column1" data-column="column1"><h4><%= faq.title %></h4>
        <br><br>

<%= faq.answer %>        </td>
      </tr>
      <tr>
      <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>


</div>
</div>
</section>
</div>
