
<div id="cp-main-content">

<section class="cp-reservation-section pd-tb80">
<div class="container">
<div class="cp-heading-style1">
<h2> <span>Edit Subscription To Ride</span></h2>
</div>

<div class="cp-reservation-box cp-login-box">
<h3>Ride Details</h3>
<div class="inner-holder" style="text-align: left">
<strong>Origin: </strong ><%=@ride.start_location%><br><br>
<strong>Destination : </strong ><%=@ride.end_location%><br><br>
</div>
<%= render 'form', follower: @follower, url: ride_follower_path(ride_id: @ride.id, id: @follower.id) %>

</div>
</div>
</section>

</div>
