<div id="cp-main-content">

<section class="cp-reservation-section pd-tb80">
<div class="container">
<div class="cp-heading-style1">
<h2> <span>New Ride</span></h2>
</div>

<div class="cp-reservation-box cp-login-box">
<h3>Ride Details</h3>
<%= render 'form', ride: @ride %>

<%= link_to 'Back', rides_path %>
</div>
</div>
</section>
</div>
